# 1. Project Overview

In [2]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import os

# 2. Data Collection and Loading
● Load Data: Use Pandas to load a dataset (CSV, Excel, or database).
● Initial Check: Display the first few rows and basic information about the dataset, noting
column names, types, and missing values.
● Selection Options:
○ Choose a dataset you find interesting (Video game sales, Sports stats, Carbon
emissions, etc.).
○ Choose which columns or data to focus on and drop the rest.

In [3]:
tlc_data = pd.read_csv(r'C:\Users\kymbe\OneDrive\Documents\Projects\Capstone\90_Day_Fiance_Real_Or_Reality\Data Sets\90 Day Fiance Data - Sheet1.csv')
tlc_data.head()

,Series,Season,Year Premiered,US-name,US-sex,US-age,US-city,US-state,US-latitude,US-longitude,...,Foreign-city,Foreign-country,Foreign-latitude,Foreign-longitude,Met,Met-detail,Support from Friends/Family,Wed,Still-together,Children
0,90 Day Fiance,1,2014,Russ,M,27,Oklahoma City,OK,35.46756,-97.5164,...,Bogota,Colombia,4.710989,-74.0721,travel,work,Y,Y,Y,1
1,90 Day Fiance,1,2014,Alan,M,29,Los Angeles,CA,34.05223,-118.2440,...,Goiania,Brazil,-16.686900,-49.2648,religious,Mormon mission,Y,Y,Y,2
2,90 Day Fiance,1,2014,Louis,M,33,Indianapolis,IN,39.76840,-86.1581,...,Ormoc,Philippines,11.038430,124.6193,online,dating service,N,Y,Y,2
3,90 Day Fiance,1,2014,Mike,M,31,Cleveland,OH,41.49932,-81.6944,...,Volgograd,Russia,48.708050,44.5133,online,language app,N,Y,Y,1
4,90 Day Fiance,2,2014,Chelsea,F,25,Galesburg,IL,40.94782,-90.3712,...,Managua,Nicaragua,12.114990,-86.2362,travel,volunteer,Y,Y,N,0

In [11]:
us_census_2023 = pd.read_csv(r'C:\Users\kymbe\OneDrive\Documents\Projects\Capstone\90_Day_Fiance_Real_Or_Reality\Data Sets\ACSST5Y2023.S1201-2025-02-04T234224.csv')
us_census_2023.head()

,Label (Grouping),United States!!Total!!Estimate,United States!!Total!!Margin of Error,United States!!Now married (except separated)!!Estimate,United States!!Now married (except separated)!!Margin of Error,United States!!Widowed!!Estimate,United States!!Widowed!!Margin of Error,United States!!Divorced!!Estimate,United States!!Divorced!!Margin of Error,United States!!Separated!!Estimate,...,Wisconsin!!Now married (except separated)!!Estimate,Wisconsin!!Now married (except separated)!!Margin of Error,Wisconsin!!Widowed!!Estimate,Wisconsin!!Widowed!!Margin of Error,Wisconsin!!Divorced!!Estimate,Wisconsin!!Divorced!!Margin of Error,Wisconsin!!Separated!!Estimate,Wisconsin!!Separated!!Margin of Error,Wisconsin!!Never married!!Estimate,Wisconsin!!Never married!!Margin of Error
0,Population 15 years and over,"271,789,355","±6,688",47.9%,±0.1,5.6%,±0.1,10.7%,±0.1,1.7%,...,49.7%,±0.2,5.4%,±0.1,10.9%,±0.1,0.9%,±0.1,33.3%,±0.2
1,AGE AND SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Males 15 years and over,"133,528,389","±6,412",49.6%,±0.2,2.6%,±0.1,9.3%,±0.1,1.5%,...,50.5%,±0.3,2.6%,±0.1,9.9%,±0.1,0.7%,±0.1,36.4%,±0.2
3,15 to 19 years,"11,154,737","±6,970",1.0%,±0.1,0.0%,±0.1,0.0%,±0.1,0.1%,...,0.6%,±0.1,0.0%,±0.1,0.0%,±0.1,0.1%,±0.1,99.2%,±0.1
4,20 to 34 years,"34,027,921","±8,146",25.9%,±0.2,0.1%,±0.1,2.3%,±0.1,0.8%,...,24.9%,±0.4,0.0%,±0.1,1.8%,±0.1,0.4%,±0.1,72.9%,±0.5

In [13]:
nonimm_visa_oct_24 = pd.read_csv(r'C:\Users\kymbe\OneDrive\Documents\Projects\Capstone\90_Day_Fiance_Real_Or_Reality\Data Sets\OCTOBER 2024 - NIV Issuances by Nationality and Visa Class.xlsx - Sheet1.csv')
nonimm_visa_oct_24.head()

,Nonimmigrant Visa Issuances by Nationality October 2024 (FY 2025),Unnamed: 1,Unnamed: 2
0,Nationality,Visa Class,Issuances
1,Afghanistan,B1/B2,153
2,Afghanistan,B2,1
3,Afghanistan,F1,10
4,Afghanistan,G4,15

# 3. Data Cleaning and Preparation
● Handle Missing Values: Choose how to handle missing values (drop, fill, or leave as is).
○ Explain why you did this drop, fill, etc.
● Data Type Adjustments: Convert columns to appropriate types (e.g., dates to
datetime).
● Feature Engineering: Create at least one new feature from existing data.
○ Example: extracting the month from a date
○ Calculate the percentage
○ Combine first and last name columns into a full name column

# 4. Exploratory Data Analysis (EDA)
● Descriptive Statistics: Provide summary statistics (mean, median, min, max) for
numerical columns.
● Data Visualizations:
○ Required: One visualization (e.g., line plot) if time-series data is relevant.
○ Optional: Additional visuals like bar charts for comparisons, histograms for
distributions, or scatter plots for relationships.